<p>
  pages works!
</p>
<div class="header-bar">

  <div class="ui-g">

    <div class="ui-g-12 header-detail">
      <button class="menu-button" pButton type="button" (click)="menuSideBar = true" icon="fa fa-bars"></button>
      <a href="#/pages">
        <small class="header-text">Caramel Biscuit</small>
      </a>
    </div>

    <div class="ui-g-12 user-info">
      <i class="fa fa-user-circle"></i>
      <small>
        {{userSession.user.fullName}}
      </small>
      <small class="divide"> : </small>
      <a href="javascript:void(0)" (click)="onLogout();">
        <small>ออกจากระบบ</small>
      </a>
    </div>

  </div>

</div>

<p-sidebar class="side-bar-menu" [(visible)]="menuSideBar" [baseZIndex]="10000">

  <div class="side-bar">

    <div class="ui-g user-info">
      <div class="ui-g-12" style="text-align:center;">
        <div class="emptybox20"></div>
        <i class="fa fa-user-circle"></i>
        <p>
          {{userSession != null ? userSession.user.fullName : ''}}
        </p>
        <a href="javascript:void(0)" (click)="onLogout();">
          <small>ออกจากระบบ</small>
        </a>
        <div class="emptybox20"></div>
      </div>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '80vh'}">
      <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
      <div class="emptybox30"></div>
      <div class="emptybox20"></div>
    </p-scrollPanel>
  </div>
</p-sidebar>

<p-menubar [autoDisplay]="false" [model]="menuItems" class="top-bar"></p-menubar>

<div class="content ui-g">

  <div class="ui-g-12 content-blank"></div>
  <div class="ui-g-12 content-detail">
    <router-outlet></router-outlet>
  </div>
  <div class="ui-g-12 content-blank"></div>

</div>
