div.emptybox5 {
  height: 5px;
}

div.emptybox10 {
  height: 10px;
}

div.emptybox15 {
  height: 15px;
}

div.emptybox20 {
  height: 20px;
}

div.emptybox25 {
  height: 25px;
}

div.emptybox30 {
  height: 30px;
}

div.emptybox35 {
  height: 35px;
}

div.emptybox40 {
  height: 40px;
}

div.emptybox45 {
  height: 45px;
}

div.emptybox50 {
  height: 50px;
}

div.emptybox55 {
  height: 55px;
}

div.emptybox60 {
  height: 60px;
}

.ui-sm-hide {
  @media only screen and (max-width: 640px) {
    display: none
  }
}

.ui-md-hind {
  @media only screen and (max-width: 1024px) {
    display: none
  }
}
